body.watch {
  -webkit-touch-callout: none !important;
  /*&.show-page-content {
		&:not([data-page="index"]) div.page-content {
			opacity: 1 !important;
		}
	}*/
}
body.watch.standalone:not(.ipad) {
  height: calc(100% + 20px);
  margin-top: -20px;
}
body.watch a {
  -webkit-user-select: none !important;
}
body.watch * {
  font-size: 20pt;
  font-family: 'Roboto', sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
body.watch p {
  margin: 16px 25px;
  color: #fff;
  -webkit-transform: translateZ(0);
}
body.watch p.time {
  position: absolute;
  top: 0px;
  right: 0;
  margin: 0;
  line-height: 30px;
  opacity: 1 !important;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}
body.watch p.time,
body.watch p.notice {
  color: #8e8e8e;
}
body.watch .button.button-fill {
  border-radius: 10px !important;
  font-size: 13pt;
  height: 36px;
  line-height: 36px;
  -webkit-transition: all 100ms ease;
}
body.watch .button.button-fill:active {
  -webkit-transform: scale(0.96710526);
}
body.watch .button.button-fill.color-watch-red,
body.watch .button.button-fill.color-watch-red:active {
  background: #340914;
  color: #ff131a;
}
body.watch div.page.navbar-fixed div.page-content,
body.watch div.page.navbar-through div.page-content {
  padding-top: 60px;
}
body.watch div.pages.tabbar-fixed .page-content,
body.watch div.pages.tabbar-through .page-content,
body.watch div.pages.toolbar-fixed .page-content,
body.watch div.pages.toolbar-through .page-content {
  padding-bottom: 9px;
}
body.watch div.pages div.page-content {
  padding-bottom: 9px;
}
body.watch div.page {
  padding-bottom: 0;
  background-color: #000;
}
body.watch div.page.app-inital div.page-content {
  opacity: 1;
}
body.watch div.list-block:not(.notifications) {
  margin: 16px;
  -webkit-transform: translateZ(0);
  margin-left: 25px;
  margin-right: 25px;
}
body.watch div.list-block:not(.notifications) ul {
  background-color: transparent;
}
body.watch div.list-block:not(.notifications) ul:before,
body.watch div.list-block:not(.notifications) ul:after {
  display: none;
}
body.watch div.list-block:not(.notifications) ul li {
  border-radius: 10px !important;
  background-color: #1d1d1d;
  transition: transform 100ms ease;
  -webkit-transition: -webkit-transform 100ms ease;
}
body.watch div.list-block:not(.notifications) ul li:not(:last-child) {
  margin-bottom: 5px;
}
body.watch div.list-block:not(.notifications) ul li label.label-checkbox:active,
body.watch div.list-block:not(.notifications) ul li label.label-radio:active,
body.watch div.list-block:not(.notifications) ul li label.label-checkbox.active-state,
body.watch div.list-block:not(.notifications) ul li label.label-radio.active-state {
  background-color: #121212;
  border-radius: 10px;
}
body.watch div.list-block:not(.notifications) ul li label.label-radio input[type=checkbox]:checked ~ .item-inner,
body.watch div.list-block:not(.notifications) ul li label.label-radio input[type=radio]:checked ~ .item-inner {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2013%2010'%3E%3Cpolygon%20fill%3D'%23ffffff'%20points%3D'11.6%2C0%204.4%2C7.2%201.4%2C4.2%200%2C5.6%204.4%2C10%204.4%2C10%204.4%2C10%2013%2C1.4%20'%2F%3E%3C%2Fsvg%3E");
}
body.watch div.list-block:not(.notifications) ul li div.item-inner {
  padding-left: 15px;
}
body.watch div.list-block:not(.notifications) ul li div.item-inner:after {
  display: none;
}
body.watch div.list-block:not(.notifications) ul li div.item-inner div.item-title {
  color: #fff;
}
body.watch div.list-block:not(.notifications) ul li div.item-inner div.item-after {
  max-height: none;
}
body.watch div.list-block:not(.notifications) ul li div.item-inner div.item-after.small {
  font-size: 13pt;
}
@media all and (max-width: 412px) {
  body.watch div.list-block:not(.notifications) ul li div.item-inner {
    display: block !important;
  }
  body.watch div.list-block:not(.notifications) ul li div.item-inner div.item-after {
    margin-left: 0 !important;
    white-space: normal !important;
  }
}
@media all and (min-width: 415px) {
  body.watch div.list-block:not(.notifications) ul li div.item-inner.break {
    display: block !important;
  }
  body.watch div.list-block:not(.notifications) ul li div.item-inner.break div.item-after {
    margin-left: 0 !important;
    white-space: normal;
  }
  body.watch div.list-block:not(.notifications) ul li div.item-inner div.item-after.phone-only {
    display: none;
  }
}
body.watch div.list-block:not(.notifications) ul li div.item-media + div.item-inner {
  padding-left: 0;
}
body.watch div.list-block:not(.notifications) ul li a.item-link.item-content {
  padding-left: 15px;
  width: 100%;
}
body.watch div.list-block:not(.notifications) ul li a.item-link:active {
  background-color: #121212 !important;
  border-radius: 10px !important;
}
body.watch div.list-block:not(.notifications):not(.form) ul li:not(.item-content):active {
  transform: scale(0.96710526);
  -webkit-transform: scale(0.96710526);
}
body.watch div.content-block-title {
  margin: 35px 25px 10px;
}
body.watch div.content-block {
  padding: 0;
}
body.watch div.content-block.inset {
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 10px;
  background-color: #1f1f1f;
  padding: 15px;
}
body.watch div.content-block div.content-block-inner {
  background: transparent;
  color: #fff;
  padding: 0;
  margin: 0;
}
body.watch div.content-block div.content-block-inner:before,
body.watch div.content-block div.content-block-inner:after {
  display: none;
}
body.watch div.content-block div.row {
  margin: 0 25px;
}
body.watch div.view[data-page="index"] div.navbar {
  display: none;
}
body.watch div.navbar {
  -webkit-transition-duration: 0ms !important;
  transition-duration: 0ms !important;
  background-color: #000 !important;
/*   opacity: 0; */
  height: 60px;
}
body.watch div.navbar div.navbar-inner {
  margin: 0 25px;
  padding: 0;
  padding-top: 25px;
  width: calc(100% - 50px);
  height: 55px;
}
body.watch div.navbar div.navbar-inner div.left {
  color: #fff;
}
body.watch div.navbar div.navbar-inner div.right {
  -webkit-animation: none !important;
  animation: none !important;
  opacity: 1 !important;
  width: 67px;
  height: 30px;
  -webkit-backface-visibility: hidden;
}
body.watch div.navbar div.navbar-inner.navbar-on-left {
  opacity: 0;
}
body.watch div.navbar div.navbar-inner.navbar-from-right-to-center .right,
body.watch div.navbar div.navbar-inner.navbar-from-center-to-right .right {
  -webkit-animation: none !important;
  animation: none !important;
  opacity: 0 !important;
}
body.watch div.navbar:after {
  display: none;
}
body.watch div.navbar a.link {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
body.watch div.navbar .icon.icon-back {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2012%2020'%3E%3Cpath%20d%3D'M10%2C0l2%2C2l-8%2C8l8%2C8l-2%2C2L0%2C10L10%2C0z'%20fill%3D'%233d3d3d'%2F%3E%3C%2Fsvg%3E");
}
body.watch div.toolbar {
  display: none;
}
body.watch div.modal {
  width: calc(100% - 50px);
  max-width: 414px;
}
body.watch div.modal:not(.modal-in) {
  transform: translate3d(0, 200%, 0) scale(1);
  -webkit-transform: translate3d(0, 200%, 0) scale(1);
}
body.watch div.modal.modal-in {
  transition: transform 600ms cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: -webkit-transform 600ms cubic-bezier(0.23, 1, 0.32, 1);
}
body.watch div.modal.modal-out {
  transform: translate3d(0, 0, 0) scale(1);
  transition: opacity 300ms;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -webkit-transition: opacity 300ms;
  opacity: 0;
}
body.watch div.modal div.modal-inner {
  padding: 0;
  border-radius: 10px;
  background-color: #1f1f1f;
}
body.watch div.modal div.modal-inner:after {
  display: none;
}
body.watch div.modal div.modal-inner div.modal-icon {
  position: absolute;
  top: -28px;
  left: 15px;
  width: 56px;
  height: 56px;
}
body.watch div.modal div.modal-inner div.modal-icon img {
  width: 56px;
  height: 56px;
  border-radius: 100%;
  -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.5);
}
body.watch div.modal div.modal-inner div.modal-title {
  font-weight: 400;
  font-size: 13pt;
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
  text-align: right;
  background-color: #63605e;
  border-radius: 10px 10px 0 0;
  line-height: 36px;
  color: #fff;
  text-transform: uppercase;
}
body.watch div.modal div.modal-inner div.modal-text {
  font-size: 14pt;
  margin-top: 0 !important;
  padding: 5px 15px;
  color: #fff;
}
body.watch div.modal div.modal-buttons {
  height: auto;
  overflow: visible;
  display: block;
}
body.watch div.modal div.modal-buttons span.modal-button {
  border-radius: 10px !important;
  margin-top: 6px;
  background-color: #242424;
  color: #fff;
  font-size: 14pt;
  transition: all 100ms ease;
  -webkit-transition: all 100ms ease;
}
body.watch div.modal div.modal-buttons span.modal-button:active {
  background-color: #121212 !important;
  transform: scale(0.96710526);
  -webkit-transform: scale(0.96710526);
  color: rgba(255, 255, 255, 0.5);
}
body.watch div.modal div.modal-buttons span.modal-button.modal-button-bold {
  background-color: #333333;
  margin-top: 18px;
}
body.watch div.modal div.modal-buttons span.modal-button.modal-button-bold:active {
  background-color: #191919 !important;
}
body.watch div.modal div.modal-buttons span.modal-button:after {
  display: none;
}
body.watch div.modal-overlay,
body.watch div.popup-overlay,
body.watch div.preloader-indicator-overlay {
  background: rgba(0, 0, 0, 0.9);
}
body.watch div.notifications.watch-notification {
  display: block;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: background 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
body.watch div.notifications.watch-notification div.notification-container {
  margin: 0 auto;
  width: 100%;
  max-width: 414px;
  height: 100%;
  text-align: center;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
body.watch div.notifications.watch-notification div.notification-container div.image-wrapper {
  width: 98px;
  height: 98px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -49px;
  margin-left: -49px;
  z-index: 20;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0);
  transform: translate3d(0, 568px, 0);
  -webkit-transform: translate3d(0, 568px, 0);
}
body.watch div.notifications.watch-notification div.notification-container div.image-wrapper:not(.velocity-animating) {
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
body.watch div.notifications.watch-notification div.notification-container div.image-wrapper img {
  width: 100px;
  height: 100px;
  margin: -1px;
  border-radius: 100%;
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
body.watch div.notifications.watch-notification div.notification-container div.short-look {
  height: 156px;
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -49px;
  transform: translate3d(0, 379px, 0);
  transition: transform 600ms cubic-bezier(0.645, 0.045, 0.355, 1), opacity 200ms linear;
  -webkit-transform: translate3d(0, 379px, 0);
  -webkit-transition: -webkit-transform 600ms cubic-bezier(0.645, 0.045, 0.355, 1), opacity 200ms linear;
}
body.watch div.notifications.watch-notification div.notification-container div.short-look div.watch-notification-title {
  font-size: 19pt;
  position: absolute;
  bottom: 23px;
  width: 100%;
}
body.watch div.notifications.watch-notification div.notification-container div.short-look div.watch-notification-subtitle {
  text-transform: uppercase;
  font-size: 13pt;
  letter-spacing: 1px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
body.watch div.notifications.watch-notification div.notification-container div.long-look {
  width: calc(100% - 50px);
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 100%;
  padding: 0;
}
body.watch div.notifications.watch-notification div.notification-container div.long-look div.watch-notification-title {
  font-weight: 400;
  font-size: 13pt;
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
  text-align: right;
  background-color: #63605e;
  border-radius: 10px 10px 0 0;
  line-height: 36px;
  color: #fff;
  text-transform: uppercase;
}
body.watch div.notifications.watch-notification div.notification-container div.long-look div.watch-notification-text {
  font-size: 14pt;
  margin-top: 0 !important;
  padding: 5px 15px;
  color: #fff;
  background-color: #333333;
  border-radius: 0 0 10px 10px;
}
body.watch div.notifications.watch-notification div.notification-container div.long-look div.modal-buttons {
  overflow: visible;
  display: block !important;
  height: auto !important;
}
body.watch div.notifications.watch-notification div.notification-container div.long-look div.modal-buttons span.modal-button {
  border-radius: 10px !important;
  margin-top: 6px;
  background-color: #242424;
  color: #fff;
  font-size: 14pt;
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
  transition: all 100ms ease;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 100ms ease;
}
body.watch div.notifications.watch-notification div.notification-container div.long-look div.modal-buttons span.modal-button:active {
  background-color: #121212 !important;
  color: rgba(255, 255, 255, 0.5);
  transform: scale(0.96710526);
  -webkit-transform: scale(0.96710526);
}
body.watch div.notifications.watch-notification div.notification-container div.long-look div.modal-buttons span.modal-button:after {
  display: none;
}
body.watch div.notifications.watch-notification div.notification-container div.long-look div.modal-buttons span.modal-button.dismiss {
  background-color: #333333;
}
body.watch div.notifications.watch-notification div.notification-container div.long-look div.modal-buttons span.modal-button.dismiss:active {
  background-color: #191919 !important;
}
body.watch div.notifications.watch-notification div.notification-container div.long-look div.modal-buttons span.modal-button:last-child.dismiss {
  margin-top: 18px;
  margin-bottom: 25px;
}
body.watch div.notifications.watch-notification.modal-in {
  background: rgba(0, 0, 0, 0.9);
}
body.watch div.notifications.watch-notification.modal-in div.image-wrapper,
body.watch div.notifications.watch-notification.modal-in div.short-look {
  transform: translate3d(0, 0, 0) !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
}
body.watch div.notifications.watch-notification.modal-to-long-look,
body.watch div.notifications.watch-notification.modal-out {
  background: rgba(0, 0, 0, 0.9);
  /*div.long-look {
				top: 53px !important;
			}*/
}
body.watch div.notifications.watch-notification.modal-to-long-look div.image-wrapper,
body.watch div.notifications.watch-notification.modal-out div.image-wrapper,
body.watch div.notifications.watch-notification.modal-to-long-look div.short-look,
body.watch div.notifications.watch-notification.modal-out div.short-look {
  -webkit-transform: translate3d(0, 0px, 0) !important;
}
body.watch div.notifications.watch-notification.modal-to-long-look div.image-wrapper,
body.watch div.notifications.watch-notification.modal-out div.image-wrapper {
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.5) !important;
  top: 25px !important;
  left: 40px !important;
  margin-top: 0 !important;
  margin-left: 0 !important;
  width: 56px !important;
  height: 56px !important;
}
body.watch div.notifications.watch-notification.modal-to-long-look div.image-wrapper img,
body.watch div.notifications.watch-notification.modal-out div.image-wrapper img {
  width: 58px !important;
  height: 58px !important;
}
body.watch div.notifications.watch-notification.modal-to-long-look div.short-look,
body.watch div.notifications.watch-notification.modal-out div.short-look {
  opacity: 0;
}
@-webkit-keyframes pageFromCenterToLeft {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    opacity: .9;
    -webkit-transform: translate3d(-100%, 0, 0);
  }
}
@keyframes pageFromCenterToLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: .9;
    transform: translate3d(-100%, 0, 0);
  }
}
@-webkit-keyframes pageFromLeftToCenter {
  from {
    opacity: .9;
    -webkit-transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes pageFromLeftToCenter {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
body.watch .page-from-right-to-center {
  -webkit-animation: pageFromRightToCenter 600ms forwards cubic-bezier(0.645, 0.045, 0.355, 1);
  animation: pageFromRightToCenter 600ms forwards;
}
body.watch .page-from-right-to-center:before {
  -webkit-animation: pageFromRightToCenterShadow 600ms forwards cubic-bezier(0.645, 0.045, 0.355, 1);
  animation: pageFromRightToCenterShadow 600ms forwards;
}
body.watch .page-from-center-to-right {
  -webkit-animation: pageFromCenterToRight 600ms forwards cubic-bezier(0.645, 0.045, 0.355, 1);
  animation: pageFromCenterToRight 600ms forwards;
}
body.watch .page-from-center-to-right:before {
  -webkit-animation: pageFromCenterToRightShadow 600ms forwards cubic-bezier(0.645, 0.045, 0.355, 1);
  animation: pageFromCenterToRightShadow 600ms forwards;
}
body.watch .page-from-center-to-left {
  -webkit-animation: pageFromCenterToLeft 600ms forwards cubic-bezier(0.645, 0.045, 0.355, 1);
  animation: pageFromCenterToLeft 600ms forwards;
}
body.watch .page-from-left-to-center {
  -webkit-animation: pageFromLeftToCenter 600ms forwards cubic-bezier(0.645, 0.045, 0.355, 1);
  animation: pageFromLeftToCenter 600ms forwards;
}
body.watch .navbar-from-center-to-left .sliding,
body.watch .navbar-from-center-to-right .sliding,
body.watch .navbar-from-left-to-center .sliding,
body.watch .navbar-from-right-to-center .sliding {
  transition-duration: 600ms !important;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
